<html>
  <body>
    <h1> My Three Favorite Clojure!</h1>
    <p>Select your 3 Favorite friends on twitter and avoid all the noise</p>
    <div class="friends-form">
      <form action="friends" method="POST">
        <input type="text" name="friend-one" class="friend-one" placeholder= "First username"></input>
        <input type="text" name="friend-two" class="friend-two" placeholder= "Second username"></input>
        <input type="text" name="friend-three" class="friend-three" placeholder= "Third username"></input>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
